/* This selector is used to prevent ui-dark/light.css from overwriting changes to .win-surface. */
.itemdetailpage .item-content-comments .win-horizontal.win-viewport .win-surface {
    margin-left: 120px;
    margin-bottom: 20px;
}

/*.itemdetailpage section[role=main] {
    -ms-grid-row: 2;
    display:block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}*/

.itemdetailpage .item-content-comments {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

 .itemdetailpage .item-content-comments .win-groupheader {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto auto 1fr;
        display: -ms-grid;
        height: 100%;
        margin-left: 0px;
        margin-right: 70px;
        padding: 0;
        width: 480px;
    }

    .itemdetailpage .item-content-comments .win-groupheader .item-title {
        -ms-grid-row: 1;
        margin-bottom: 20px;
        margin-top: 0;
    }
    
    .itemdetailpage .item-content-comments .win-groupheader .item-subtitle {
        -ms-grid-row: 2;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .itemdetailpage .item-content-comments .win-groupheader .item-image {
        -ms-grid-row: 3;
        min-height: 50px;
        max-height: 240px;
        margin-bottom: 3px;
        width: auto;
    }

    .itemdetailpage .item-content-comments .win-groupheader .item-content {
        -ms-grid-row: 4;
        font-size: 15pt;
        line-height: 1.8em;
    }

    /*.itemdetailpage section[role=main] article {
        // Define a multi-column, horizontally scrolling article by default. 
        column-fill: auto;
        column-gap: 80px;
        column-width: 480px;
        height: calc(100% - 50px);
        margin-left: 120px;
    }    

        .itemdetailpage section[role=main] article header .item-title {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article header .item-subtitle {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article .item-image {
            min-height: 50px;
            max-height: 240px;
            margin-bottom: 3px;
            width: auto;
        }

        .itemdetailpage section[role=main] article .item-content{
            font-size: 15pt;
            line-height: 1.8em;
        }

        .itemdetailpage section[role=main] article .item-content p {
            margin-bottom: 20px;
            margin-right: 20px;
            vertical-align: baseline;
        }


    .itemdetailpage section[role=main] .item-comment-part {      
    }*/
        
        .itemdetailpage .item-content-comments .win-groupheader .item-comment-title {
            margin-bottom: 20px;
            margin-top: 0; 
        }

    .itemdetailpage .item-content-comments .win-item {
        display:-ms-grid;
        -ms-grid-rows: 30px 1fr;
        -ms-grid-columns: 60px 1fr 3fr;
        margin-bottom: 10px;
        min-height: 110px;
        height: auto;
        width: 472px;
        font-size: 14pt;
    }

    .itemdetailpage .item-content-comments  .win-item .commentor-avatar {
        width: 50px;
        height: 50px; 
        -ms-grid-row-align: start;
        -ms-grid-row-span: 2;
        display: block;
    }
    
    .itemdetailpage .item-content-comments  .win-item .commentor-name {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-row-align: center;
                display: block;
    }
        
    .itemdetailpage .item-content-comments  .win-item .comment-time {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        -ms-grid-row-align: center;
        -ms-grid-column-align: start;
        display: block;
    }
        
    .itemdetailpage .item-content-comments  .win-item .comment-content {
        -ms-grid-row: 2;
        -ms-grid-column: 2;                
        -ms-grid-column-span: 2;
        height:auto;
    }
        
    .itemdetailpage .item-content-comments  .win-item .comment-replay {
        -ms-grid-column: 4;
        -ms-grid-row: 1;
    }

        /*.itemdetailpage section[role=main] .item-comment-wrapper {
            width: auto;            
        }

            .itemdetailpage section[role=main] .item-comment-wrapper .win-item {
                display: -ms-grid;
                -ms-grid-rows: 30px 1fr;
                -ms-grid-columns: 60px 1fr 1fr 30px;
            }

            .itemdetailpage section[role=main] .item-comment-wrapper .commentor-avatar {
                width: 50px;
                height: 50px; 
                -ms-grid-row-align: start;
                -ms-grid-row-span: 2;
            }
        
            .itemdetailpage section[role=main] .item-comment-wrapper .commentor-name {
                -ms-grid-column: 2;
                overflow: hidden;
                white-space:nowrap;
                text-overflow: ellipsis;
                -ms-grid-row-align: center;
            }
        
            .itemdetailpage section[role=main] .item-comment-wrapper .comment-time {
                -ms-grid-column: 3;
                overflow: hidden;
                white-space:nowrap;
                text-overflow: ellipsis;
                -ms-grid-row-align: center;
            }
        
            .itemdetailpage section[role=main] .item-comment-wrapper .comment-content {
                -ms-grid-row: 1;
                -ms-grid-column: 1;
                -ms-grid-row: 2;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
            }
        
            .itemdetailpage section[role=main] .item-comment-wrapper .comment-replay {
                -ms-grid-column: 4;
            }*/

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage section[role=main] article {
        /* Define a single column, vertically scrolling article in snapped mode. */
        -ms-grid-columns: 300px 1fr;
        -ms-grid-row: 2;
        -ms-grid-rows: auto 60px;
        display: -ms-grid;
        height: 100%;
        margin-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 300px;
    }

        .itemdetailpage section[role=main] article .item-image {
            height: 140px;
            width: 280px;
        }

        .itemdetailpage section[role=main] article .item-content {
            padding-bottom: 60px;             
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage section[role=main] article {
        margin-left: 100px;
    }
}
